.results {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 170%;
  width: 100%;
}

.results > h1 {
  font-size: 2em;
}
 
.buy-button {
  margin-top: 20px;
}
